@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@layer base {
  :root {
    --primary-color: #735eff;
    --primary-color-200: #7f6bff;
    --primary-color-neon: #1f51ff;
    --secondary-color: #b5ffe1;
    --tertiary-color: #0a1046;
  }
}

html,
body {
  color: white;
  background: #010038;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

mark {
  padding: 2px 0;
  background-color: var(--primary-color-neon);
  color: white;
}

.sr-only {
  background: red;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
