@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@layer base {
  :root {
    --text-color: #eaeaea;
    --primary-color: #998aff;
    --primary-color-200: #7f6bff;
    --primary-color-neon: #1f51ff;
    --secondary-color: #4fc06d;
    --secondary-color-200: #fd5244;
    --tertiary-color: #f27059;
    --background: #121115;
    --backgroundLight: #e9e9e9;
  }
  /* focus style for interactive elements */
  *:focus-visible,
  button:focus,
  [role='group']:focus {
    outline: 2px solid var(--tertiary-color);
    outline-offset: 2px;
  }
}

html,
body {
  color: var(--text-color);
  background: var(--background);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

mark {
  padding: 2px 0;
  background-color: var(--secondary-color);
  color: var(--background);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
dialog {
  background: var(--backgroundLight);
}
